body {
  background-color: #EAEDE8;
  color: #55584B;
  font-family: Montserrat, sans-serif;
  text-align: center;
  padding: 12px;
}

h1 {
  font-weight: bold;
  font-size: 23px;
  margin: 20px auto 0;
}

h2 {
  font-size: 11px;
  margin: 5px auto 22px;
}

button {
  font-family: inherit;
  color: inherit;
  background-color: #fff;
  border: 1px solid #bbb;
  width: 236px;
  padding: 8px 0;
  margin: 29px auto 37px;
  display: block;
}

.place {
  width: 236px;
  height: 257px;
  line-height: 257px;
  color: #fff;
  font-weight: bold;
  font-size: 22px;
  display: inline-block;
  background-size: cover;
  background-position: center;
  margin: 8px;
}

#sf1 {
  background-image: url("../img/san-francisco.jpg");
}

#ny {
  background-image: url("../img/new-york.jpg");
}

#ldn {
  background-image: url("../img/london.jpg");
}

#npa {
  background-image: url("../img/napa.jpg");
}

#sma {
  background-image: url("../img/sonoma.jpg");
}

#sf2 {
  background-image: url("../img/san-francisco-2.jpg");
}
